body {
  margin: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.card {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  justify-content: space-around;
  display: flex;
  text-align: center;

  background: rgb(151, 122, 215);
  color: #2b2839;
  border-bottom: 6px solid rgb(0, 0, 0);
}
